{
  "registrationToken": "{{registrationToken}}",
  "securityQuestionId": "{{securityQuestionId}}",
  "securityAnswer": "{{securityAnswer}}",
  "password": "{{password}}",
  "marcomOptIn": "{{marcomOptIn}}"
}