{"firstName": "{{firstName}}",
  "lastName": "{{lastName}}",
  "email": "{{email}}",
     "address":{
	 "street1": "{{address.street1}}",
	 "street2": "{{address.street2}}",
	 "city": "{{address.city}}",
	 "stateCode": "{{address.stateCode}}",
	 "zipCode": "{{address.zipCode}}"},
	"commPrefMap":{"DINING_OPTIN": "{{commPrefMap.DINING_OPTIN}}","EMAIL_OPTIN": "{{commPrefMap.EMAIL_OPTIN}}"},
	"dateOfBirth": "{{dateOfBirth}}",
	"genderVal": "{{genderVal}}",
	"securityCode": "{{securityCode}}",
	"programUDK": "{{programUDK}}",
	"eventName": "{{eventName}}",
	"fpAccountId": "{{fpAccountId}}",
	"programId": "{{programId}}",
	"programUdk": "{{programUdk}}"
}